body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f7f7f7;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

#navbar {
  border-bottom: 1px solid #ccc;
  padding: 1em 2em;
  margin-bottom: 1em;
  background-color: #bb26c0;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: bold;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 450px;
  margin: 2em auto;
}

.form-control {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
}

.form-control input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-control button[type="submit"] {
  background-color: #db4c4f;
  color: #fff;
  padding: 0.7em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.actions {
  display: flex;
}

.actions i {
  font-size: 1.5em;
  margin-right: 0.6em;
  color: #333;
}

.actions i:hover {
  color: #db4c3f;
}

.actions form {
  margin: 0;
}

.actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
