<div>
  <p>Alessandra total sales: {{collaboratorSales.Alessandra}}</p>
  <p>Erika total sales: {{collaboratorSales.Erika}}</p>
  <p>Eduarda total sales: {{collaboratorSales.Eduarda}}</p>
  <p>Kassia total sales: {{collaboratorSales.Kassia}}</p>
</div>